* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.bg_dark_blue {
  background: #2D3E50;
}
.btn {
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.btn.btn_white {
  border: 1px solid #FF7A59;
  color: #FF7A59;
  background: white;
  font-size: 14px;
}
.btn.btn_orange {
  color: white;
  background: #FF7A59;
  font-size: 14px;
}
.btn_default {
  color: #33475B;
  background: white;
  font-size: 14px;
}
.btn_big {
  padding: 25px 35px;
}
.btn_footer {
  display: inline-block;
  margin-left: 83px;
  margin-top: 20px;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 70px;
  border-bottom: 1px solid #CBD6E2;
  background: #F5F8FA;
}
.topbar_right, .topbar_left {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 70px;
  color: #33475B;
}
.topbar_right {
  text-align: right;
}
.topbar_right > a {
  margin: 0 8px;
  text-decoration: none;
  color: #33475B;
}
.topbar_right .fa-search {
  color: #5CC3D5;
}
.topbar_left {
  font-size: 14px;
}
.topbar_left .fa-caret-down.with_border {
  border-right: 2px solid lightgray;
}
.topbar_left .fa-caret-down {
  color: #7C98B6;
}
.topbar_left > * {
  padding: 0 10px;
}
header {
  width: 100%;
  height: 80px;
  margin-top: 70px;
}
.header_left, .header_right {
  float: left;
  height: 100%;
}
.header_left {
  display: flex;
  width: 30%;
}
.header_left img {
  justify-content: center;
  align-items: center;
}
.header_right {
  text-align: right;
  width: 70%;
  line-height: 80px;
}
.header_right a {
 text-decoration: none;
 padding: 0 25px;
 color: #33475B;
}
.header_right i {
  color: #7C98B6;
}
.disclaimer {
  width: 100%;
  height: 80px;
}
.disclaimer_left, .disclaimer_right {
  float: left;
  line-height: 80px;
  height: 100%;
}
.disclaimer_left {
  width: 80%;
  font-size: 12px;
  color: white;
}
.disclaimer_right {
  width: 20%;
}
.jumbo {
  width: 100%;
  border-bottom: 3px solid #2D3E50;
  background-image: linear-gradient(to right, #00a4bd, #00bda5);
}
.jumbo_left {
  padding: 120px 0;
  width: 50%;
}
.jumbo_left h1, .jumbo_left p {
  color: white;
}
.jumbo_left h1 {
  font-size: 55px;
}
.jumbo_left .p_little {
  font-size: 12px;
}
.jumbo_left p {
  margin-top: 40px;
  margin-bottom: 40px;
}
.content {
  width: 100%;
  background: #F5F8FA;
}
.content_top, .cotent_body, .content_footer {
  width: 100%;
  height: 300px;
  background: #F5F8FA;
}
.content_top {
  padding: 80px 0;
  height: auto;
  text-align: center;
  color: #33475B;
}
.content_top img {
  width: 300px;
}
.content_top h2 {
  font-size: 34px;
  margin: 30px 0;
}
.content_top p {
  padding-left: 100px;
  padding-right: 100px;
}
.cotent_body {
  margin: 50px 0;
  padding: 0 100px;
  color: #33475B;
  background: white;
}
.content_footer {
  background:  #F5F8FA;
}
.content_body_left, .content_body_right {
  float: left;
  height: 100%;
}
.content_body_left img {
  width: 250px;
  margin-bottom: 20px;
  margin: 30px auto;
}
.content_body_left {
  width: 30%;
  text-align: center;
}
.content_body_right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  width: 70%;
}
.content_body_right_wrapper h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.content_body_right_wrapper p {
  margin-bottom: 20px;
}
.content_body_right_wrapper span {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
}
.content_body_right_wrapper span:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 10px;
  width: 75%;
  height: 1px;
  background: lightgray;
}
.content_body_right_icons i:first-child {
  margin: 0 0;
}
.content_body_right_icons i {
  padding-top: 15px;
  color: #FF7A59;
  margin: 0 6px 0 30px;
}
.content_footer {
  width: 100%;
  height: 660px;
}
.content_footer > div {
  float: left;
  padding: 30px 20px;
  width: calc((100% / 3) - (80px / 3));
  background: white;
}
.content_footer > div img {
  display: block;
  margin: 0 auto;
  height: 160px;
}
.content_footer > div h4 {
  text-align: center;
  color: #33475B;
  font-size: 22px;
  padding: 20px 0;
}
.content_footer > div p {
  font-size: 14px;
  padding-left: 25px;
  margin-bottom: 20px;
  color: #33475B;
}
.content_footer > div span {
  display: block;
  text-align: center;
  margin: 20px 0;
}
.content_footer > div ul {
  list-style: none;
}
.content_footer > div li {
  color: #33475B;
  font-size: 13px;
  padding: 6px 0;
}
.content_footer > div i {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 18px;
  color: #FF7A59;
}
.content_footer_left {

}
.content_footer_center {
  margin: 0 40px;
}
.content_footer_right {
  margin-right: 0;
}
.grid {
  width: 100%;
  padding: 150px 0;
  background-image: linear-gradient(to right, #00a4bd, #00bda5);
}
.grid_title {
  width: 100%;
  padding: 0 200px;
  text-align: center;
  color: white;
}
.grid_title h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.grid_title p {
  font-size: 16px;
  margin-bottom: 100px;
}
.grid_table {
  width: 100%;
}
.grid_table:after {
  content: '';
  display: table;
  clear: both;
}
.grid_item {
  position: relative;
  float: left;
  width: calc(100% / 4);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 185px;
  color: white;
}
.grid_item:nth-child(n + 5){
  border-bottom: 0;
}
.grid_item:nth-child(4), .grid_item:nth-child(8) {
  border-right: 0;
}
.grid_item img {
  display: block;
  margin: 0 auto 10px;
  width: 20%;
}
.grid_item_title {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
.grid_item_title.plus:after {
  content: '+';
  vertical-align: middle;
  margin-left: 5px;
  font-weight: normal;
  font-size: 14px;
}
.grid_item_smallTitle {
  display: block;
  text-align: center;
  font-size: 14px;
}
.grid_item > div {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
.partners {
  width: 100%;
  padding: 100px 0;
  background: white;
}
.partners:after {
  content: '';
  display: table;
  clear: both;
}
.partners_wrapper {
  width: 100%;
  height: 200px;
  padding: 0 50px;
  color: #33475B;
}
.partners_left,.partners_right {
  float: left;
  width: 50%;
  height: 100%;
}
.partners_left {
  width: 40%;
}
.partners_right {
  width: 60%;
}
.partners_left > strong {
  font-size: 40px;
  margin-bottom: 10px;
}
.partners_left p {
  font-size: 19px;
  margin-top: 15px;
  letter-spacing: 0.02em;
}
.partners_right img {
  display: block;
  float: left;
  margin: 20px;
  width: calc((100% / 4) - 40px);
  height: auto;
}
.prefooter {
  padding: 100px 0;
  width: 100%;
  color: #33475b;
}
.prefooter:after {
  content: '';
  display: table;
  clear: both;
}
.prefooter_left, .prefooter_rigth {
  width: 50%;
  float: left;
}
.prefooter_left h3 {
  font-size: 32px;
  margin-bottom: 50px;
  line-height: 1.3125;
}
.prefooter_left p {
  font-size: 16px;
  margin-bottom: 40px;
}
.prefooter_left small {
  display: block;
  margin-top: 40px;
  font-size: 12px;
}
.prefooter_rigth_immage_wrapper {
  float: right;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: #F2547D;
}
.prefooter_rigth_immage_wrapper img {
  width: 100%;
}
.bottom_icon {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  border-radius: 100%;
  line-height: 78px;


  cursor: pointer;
  background: #425B76;
}
.bottom_icon i {
  margin-left: 16px;
  color: #cbd6e2;
  font-size: 30px;
}
footer {
  padding: 100px 0 20px;
  width: 100%;
}
.footer_head {
  width: 100%;
  height: auto;
}
.footer_head:after {
  content: '';
  display: table;
  clear: both;
}
.footer_head > div {
  float: left;
  width: calc(100% / 4);
  height: auto;
  color: #cbd6e2;
}
.footer_head h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}
.footer_head ul {
  list-style: none;
}
.footer_head li {
  margin-bottom: 20px;
}
.footer_head li a {
  font-size: 14px;
  text-decoration: none;
  color: #cbd6e2;
}
.footer_head > div a.btn {
  color: #2D3E50;
  font-size: 12px;
}
.footer_head > div a i {
  margin: 0 10px;
  font-size: 16px;
}
.footer_languages {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cbd6e2;
  padding-bottom: 50px;
}
.footer_languages a {
  text-decoration: none;
  cursor: pointer;
  color: #cbd6e2;
  margin: 0 20px;
}
.footer_bottom {
  width: 100%;
  height: 100px;
  margin-top: 50px;
}
.footer_bottom_left, .footer_bottom_right {
  float: left;
  width: 50%;
  height: 100%;
}
.footer_bottom_right {
  text-align: right;
}
.footer_bottom_right a {
  text-decoration: none;
  color: #cbd6e2;
  margin: 0 20px;
}
.footer_bottom_left img {
  display: block;
  margin-bottom: 10px;
}
.footer_bottom_left small {
  color: #cbd6e2;
  font-size: 12px;
}
